body {
    background-color: antiquewhite;
}
header {
    // 寬度 高度 背景顏色 單位像素(px)
    width: 300px;
    height: 25px;
    background-color: crimson;
}
#main {
   // 寬度 高度 背景顏色 單位像素(px)
   width: 600px;
   height:450px;
   background-color: mediumblue;
}
footer {
    // 寬度 高度 背景顏色 單位像素(px)
    width: 100px;
    height: 350px;
    background-color: gold;
}